<h3><%= @oven.name %></h3>

<div class="cookie-info">
  Cookie in oven:
  <% if @oven.cookies.present? %>
    <% @oven.cookies.group_by(&:fillings).each_pair do |fillings, cookies| %>
      <p>
        <%= pluralize(cookies.count, "Cookie") %>
        with
        <%= fillings || "no filling" %>
      </p>
    <% end %>
    <%= button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny' %>
  <% end %>
</div>

<br/>
<%= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button' %>
